<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Automated Video Sentiment Analysis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='sweet-alert/sweetalert.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Play">
		<style type="text/css">
			#header {
				position: relative;
				background-image: url("static/images/header3.jpg");
				background-size: cover;
				background-position: center center;
				background-attachment: fixed;
				color: #fff;
				text-align: center;
				padding: 7.5em 0 2em 0;
				cursor: default;
			}

			#header:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				#header .inner {
					position: relative;
					z-index: 1;
					margin: 0;
					display: inline-block;
					vertical-align: middle;
				}

				#header header {
					display: inline-block;
				}

					#header header > p {
						font-size: 1.25em;
						margin: 0;
					}

				#header h1 {
				 	font-family: 'Lobster', cursive;
                    font-size: 48px;
                    color: white;
					line-height: 1em;
				}

					#header h1 a {
						color: inherit;
					}

				#header .button {
					font-family: 'Play', sans-serif;
					display: inline-block;
					background-color: #00bfff;
					border-radius: 100%;
					width: 4.5em;
					height: 4.5em;
					line-height: 4.5em;
					text-align: center;
					font-size: 1.5em;
					padding: 0;
				}

				#header hr {
					top: 1.5em;
					margin-bottom: 3em;
					border-bottom-color: rgba(192, 192, 192, 0.35);
					box-shadow: inset 0 1px 0 0 rgba(192, 192, 192, 0.35);
				}

					#header hr:before, #header hr:after {
						background: rgba(192, 192, 192, 0.35);
					}

				#header footer {
					margin: 1em 0 0 0;
				}

			body.homepage #header {
				height: 100vh;
				min-height: 40em;
			}

				body.homepage #header h1 {
					font-size: 4em;
				}

				body.homepage #header:after {
					content: '';
					background: #1C0920;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					-moz-transition: opacity 2.5s ease-in-out;
					-webkit-transition: opacity 2.5s ease-in-out;
					-ms-transition: opacity 2.5s ease-in-out;
					transition: opacity 2.5s ease-in-out;
					-moz-transition-delay: 0.5s;
					-webkit-transition-delay: 0.5s;
					-ms-transition-delay: 0.5s;
					transition-delay: 0.5s;
				}

			body.homepage.is-loading #header:after {
				opacity: 1;
			}
				#header {
					background-attachment: scroll;
				}

					#header .inner {
						padding-left: 2em;
						padding-right: 2em;
					}

				#banner{
					background: #fff;
					text-align: center;
					padding: 4.5em 0 4.5em 0;
					margin-bottom: 0;
				}

					#banner header > p {
						margin-bottom: 0;
					}

				.demo-droppable {
					background: #00bfff;
					color: #fff;
					padding: 100px 0;
					text-align: center;
				 }
					.demo-droppable.dragover {
						background: #0000FF;
					}

			#submit .button{
				font-family: 'Play', sans-serif;
				font-size: 1.7em;
				background-color: #1E90FF;
				display: block;
				padding: 0;
				line-height: 3em;
				width: 13%;
			}
	</style>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<footer>
								<br><br><br><br><br><br><br><br><br><br><br><br><br>
								<a href="#banner" class="button circled scrolly">START</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><h1><a href="{{url_for('main')}}">
									Automated Video Sentiment Analysis
								</a></h1></li>

							</ul>
						</nav>
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. You're looking at <strong>an Automated Video Sentiment Analysis website</strong>.</h2>
						<p>
							Video Sentiment Analysis is the use of natural language processing, text analysis, and computational linguistics to systematically identify, extract, quantify, and study affective states and subjective information to determine if an expression is positive, negative, or neutral.
						</p>
					</header>
				</section>


			<!-- Main -->
				<div class="wrapper style2">
							<div class="demo-droppable">
								<h2><center><font size="6px" color="white">Drag files here or click to upload</font></center></h2></p>
							</div>
							<div class="output"></div>

							<br>
							<div id="submit">
								<center><a href="#result" class="scrolly"><button id="analyze" type="submit">Transcribe</></a></center>
								<!--<link href="{{ url_for('static', filename='pace/pace.css') }}" rel="stylesheet" />-->
								<!--<script src="{{ url_for('static', filename='pace/pace.min.js') }}"></script>-->
							</div>
							<section id="result">
								<br>
								<br>
								<center>
									<textarea id="text-area" rows="20" cols="150" wrap="soft">
									</textarea>
								</center>
							</section>
				</div>


		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='jquery.onvisible.min.js') }}"></script>
			<script src="{{ url_for('static', filename='skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static', filename='main.js') }}"></script>
			<script src="{{ url_for('static', filename='sweet-alert/sweetalert.min.js') }}"></script>
			<script src="/static/droppable-init.js"></script>

	</body>
</html>

